@using ProjetoHorariosFatec.Enums
@model HorariosModel

<div id="#textbox2"></div>

@ViewData["Mensagem"]

<form asp-area="" 
    asp-controller="Alterar" 
    asp-action="SalvarAlteracao" 
    data-ajax-loading="#loading" 
    data-ajax-mode="replace" 
    data-ajax-update="#updateDiv"
      data-ajax-success="alert('foi')"
      data-ajax-failure="Failure" 
    data-ajax="true">

    <div id="updateDiv">
    <input type="hidden" valor="@Model.Id" asp-for="Id" />
    <input type="hidden" valor="@Model.IdCurso" asp-for="IdCurso" />
    <input type="hidden" valor="@Model.IdDia" asp-for="IdDia" />
    
    <div class="mb-3">
        <label for="aula" class="form-label">Aula</label>
        <input type="text" valor="@Model.Aula" asp-for="Aula" class="form-control" placeholder="Digite a aula">
        @Html.ValidationMessageFor(x => x.Aula)
    </div>

    <div class="mb-3">
        <label for="sala" class="form-label">Sala</label>
        <input type="text" asp-for="Sala" class="form-control" placeholder="Digite a sala">
        @Html.ValidationMessageFor(x => x.Sala)
    </div>

    <div class="mb-3">
        <label for="bloco" class="form-label">Bloco</label>
        <select asp-for="Bloco" class="form-control">
            <option value="">Selecione</option>
            <option value="@BlocoEnum.BlocoA1">Bloco A1</option>
            <option value="@BlocoEnum.BlocoA2">Bloco A2</option>
        </select>
        @Html.ValidationMessageFor(x => x.Bloco)
    </div>

    <div class="mb-3">
        <label for="horario" class="form-label">Horario</label>
        <input type="text" asp-for="Horario" class="form-control" placeholder="Digite o horário">
        @Html.ValidationMessageFor(x => x.Horario)
    </div>

    <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btnAlterar" onclick="atualizarPag()" id="btnAlterar">Alterar</button>
    </div>
    </div>
</form>

@section Scripts {       
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
}