@model List<HorariosModel>

@{
    int seg = 0, ter = 0, quar = 0, quin = 0, sex = 0, sab = 0;
    bool Verificar = false;
}
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/site.js"></script>

<button id="btnEditar" onclick="teste(1)">AAAAAAAAAAAAAAAA</button>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="">

                @if (TempData["MensagemErro"] != null)
                {
                    @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('.modal').modal("show")
                            function teste() { console.log("AAAAAAA") }
                        });
                    </script>
                }
                    <div class="alert alert-danger" role="alert">
                        @TempData["MensagemErro"]
                    </div>
                }     
                <div id="Modall"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .btnEdit {
        position: absolute;
        right: 15px;
        top: 20px;
    }
</style>

@if (Model == null || Model.Count == 0){
    <br />
   <h1 class="display-4">Nenhum registro encontrado</h1> 
}
else {

@foreach (var menu in Model)
{
    seg++;
    if (seg <= 1){
        <br />
        <h1 class="display-4">Segunda-Feira</h1>
         <button type="button" class="btn btn-success btnEdit" asp-controller="Alterar" asp-action="EditarRegistro" asp-route-value="1">
             Editar
         </button>
        
    }
}
    <table class="display table" style="width: 100%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Aula</th>
            <th scope="col">Sala</th>
            <th scope="col">Bloco</th>
            <th scope="col">Horario</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        @{
         Verificar = false;}
        @if(Model != null && Model.Any()){
            @foreach (var item in Model)
            {
                if (item.IdDia == ProjetoHorariosFatec.Enums.DiaEnum.Segunda)
                {
                    Verificar = true;
                    <tr>
                        <td id="Curso">
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsNoite ? "ADS Noite" : "")
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsTarde ? "ADS Tarde" : "")
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroNoite ? "Agro Noite" : "")
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroTarde ? "Agro Tarde" : "")
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdNoite ? "PI Noite" : "")
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdManha ? "PI Manhã" : "")
                        @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.SiManha ? "SI Noite" : "")
                    </td>
                    <td>@item.Aula</td>
                    <td>@item.Sala</td>
                    <td>
                        @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA1 ? "Bloco A1" : "")
                        @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA2 ? "Bloco A2" : "")
                    </td>
                    <td>@item.Horario</td>
                    <td>
                        <div class="btn-group" role="group">
                             <a class="btn btn-success btnEditar" type="button" data-toggle="modal" valor="@item.Id">Editar</a>
                        </div>
                    </td>
                </tr>
                 
                }
            }
            if (Verificar == false)
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
            }
        }       
    </tbody>
</table><!--    SEGUNDA FEIRA  -->

@foreach (var menu in Model)
{
    ter++;
    if (ter <= 1){
        <br />
        <h1 class="display-4">Terça-Feira</h1>
    }
}
    <table class="display table" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Aula</th>
            <th scope="col">Sala</th>
            <th scope="col">Bloco</th>
            <th scope="col">Horario</th>
        </tr>
    </thead>
    <tbody>
        @{
            Verificar = false;
        }
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                if (item.IdDia == ProjetoHorariosFatec.Enums.DiaEnum.Terca)
                {
                    Verificar = true;
                    <tr>
                        <td id="Curso">
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsNoite ? "ADS Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsTarde ? "ADS Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroNoite ? "Agro Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroTarde ? "Agro Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdNoite ? "PI Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdManha ? "PI Manhã" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.SiManha ? "SI Noite" : "")
                        </td>
                        <td>@item.Aula</td>
                        <td>@item.Sala</td>
                        <td>
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA1 ? "Bloco A1" : "")
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA2 ? "Bloco A2" : "")
                        </td>
                        <td>@item.Horario</td>
                    </tr>
                }               
            }
            if (Verificar == false)
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
            }
        }
    </tbody>
</table><!--    TERÇA FEIRA   -->

@foreach (var menu in Model)
{
    quar++;
    if (quar <= 1)
    {
        <br />
        <h1 class="display-4">Quarta-Feira</h1>
    }
}
    <table class="display table" style="width: 100%">
        <!--    QUARTA FEIRA   -->
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Aula</th>
            <th scope="col">Sala</th>
            <th scope="col">Bloco</th>
            <th scope="col">Horario</th>
        </tr>
    </thead>
    <tbody>
        @{
            Verificar = false;
        }
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                if (item.IdDia == ProjetoHorariosFatec.Enums.DiaEnum.Quarta)
                {
                    Verificar = true;
                    <tr>
                            <td id="Curso">
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsNoite ? "ADS Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsTarde ? "ADS Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroNoite ? "Agro Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroTarde ? "Agro Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdNoite ? "PI Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdManha ? "PI Manhã" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.SiManha ? "SI Noite" : "")
                        </td>
                        <td>@item.Aula</td>
                        <td>@item.Sala</td>
                        <td>
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA1 ? "Bloco A1" : "")
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA2 ? "Bloco A2" : "")
                        </td>
                        <td>@item.Horario</td>
                    </tr>                    
                }
            }
            if (Verificar == false)
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
            }
        }
    </tbody>
</table> <!-- QUARTA FEIRA -->

@foreach (var menu in Model)
{
    quin++;
    if (quin <= 1)
    {
        <br />
        <h1 class="display-4">Quinta-Feira</h1>
    }
}
    <table class="display table" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Aula</th>
            <th scope="col">Sala</th>
            <th scope="col">Bloco</th>
            <th scope="col">Horario</th>
        </tr>
    </thead>
    @{
            Verificar = false;
        }
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                if (item.IdDia == ProjetoHorariosFatec.Enums.DiaEnum.Quinta)
                {
                    Verificar = true;
                    <tr>
                        <td id="Curso">
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsNoite ? "ADS Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsTarde ? "ADS Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroNoite ? "Agro Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroTarde ? "Agro Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdNoite ? "PI Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdManha ? "PI Manhã" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.SiManha ? "SI Noite" : "")
                        </td>
                        <td>@item.Aula</td>
                        <td>@item.Sala</td>
                        <td>
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA1 ? "Bloco A1" : "")
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA2 ? "Bloco A2" : "")
                        </td>
                        <td>@item.Horario</td>
                    </tr>
                }
            }
            if (Verificar == false)
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
            }
        }
    </tbody>
</table><!--   QUINTA FEIRA  -->

@foreach (var menu in Model)
{
    sex++;
    if (sex <= 1)
    {
        <br />
        <h1 class="display-4">Sexta-Feira</h1>
    }
}
<table class="display table" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Aula</th>
            <th scope="col">Sala</th>
            <th scope="col">Bloco</th>
            <th scope="col">Horario</th>
        </tr>
    </thead>
    <tbody>
        @{
            Verificar = false;
        }
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                if (item.IdDia == ProjetoHorariosFatec.Enums.DiaEnum.Sexta)
                {
                    Verificar = true;
                    <tr>
                        <td id="Curso">
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsNoite ? "ADS Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsTarde ? "ADS Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroNoite ? "Agro Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroTarde ? "Agro Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdNoite ? "PI Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdManha ? "PI Manhã" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.SiManha ? "SI Noite" : "")
                        </td>
                        <td>@item.Aula</td>
                        <td>@item.Sala</td>
                        <td>
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA1 ? "Bloco A1" : "")
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA2 ? "Bloco A2" : "")
                        </td>
                        <td>@item.Horario</td>
                    </tr>
                }
                else
                {
                   
                }
            }
            if (Verificar == false)
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
            }
        }
    </tbody>
</table><!--   SEXTA FEIRA  -->

@foreach (var menu in Model)
{
    sab++;
    if (sab <= 1)
    {
        <br />
        <h1 class="display-4">Sábado</h1>
    }
}
    <table class="display table" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Aula</th>
            <th scope="col">Sala</th>
            <th scope="col">Bloco</th>
            <th scope="col">Horario</th>
        </tr>
    </thead>
    <tbody>
        @{
            Verificar = false;
        }
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                if (item.IdDia == ProjetoHorariosFatec.Enums.DiaEnum.Sabado)
                {
                    Verificar = true;
                    <tr>
                        <td id="Curso">
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsNoite ? "ADS Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AdsTarde ? "ADS Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroNoite ? "Agro Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.AgroTarde ? "Agro Tarde" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdNoite ? "PI Noite" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.ProdManha ? "PI Manhã" : "")
                            @(item.IdCurso == ProjetoHorariosFatec.Enums.CursoEnum.SiManha ? "SI Noite" : "")
                        </td>
                        <td>@item.Aula</td>
                        <td>@item.Sala</td>
                        <td>
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA1 ? "Bloco A1" : "")
                            @(item.Bloco == ProjetoHorariosFatec.Enums.BlocoEnum.BlocoA2 ? "Bloco A2" : "")
                        </td>
                        <td>@item.Horario</td>
                    </tr>
                }
            }
            if (Verificar == false)
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
            }
        }
    </tbody>
</table><!--   SÁBADO  -->
}

<script src="~/js/site.js" asp-append-version="true"></script>